:root {
    /* Colors */
    --primary: #FF4646;
    --primary-10: color-mix(in oklch, var(--primary), transparent 90%);
    --dark: #181C29;
    --static-white: #FFFFFF;
    --static-white-40: color-mix(in oklch, var(--static-white), transparent 60%);
    --static-white-20: color-mix(in oklch, var(--static-white), transparent 80%);
    --content-background: #ECF3F8;
    --tag-purple: #4361FF;
    --tag-pink: #FF43F7;
    --tag-green: #06A44F;
    --overlay: color-mix(in oklch, var(--dark), transparent 10%);

    /* Spaces */
    --space-0: 0;
    --space-8: 8px;
    --space-12: 12px;
    --space-20: 20px;
    --space-32: 32px;
    --space-60: 60px;
}
html {
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    color: var(--Dark, #181C29);
    background: #fff;
}
.section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 0;
    background-color: var(--primary, #FF4646);
}
.container {
    max-width: 1276px;
    margin: 0 auto;
}
p, h1, h2, h3, h4, ul {
    padding: 0;
    margin: 0;
}
a, a:visited {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
    letter-spacing: 5.76px;
    text-transform: uppercase;
    color: var(--Static-White, #FFF);
}
h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%; /* 36.48px */
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.btn {
    display: flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: var(--Space-0, 0);
    border-radius: 20px;
    background-color: var(--Dark, #181C29);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--Static-White, #FFF);
    cursor: pointer;
    border: none;
}
.btn:hover {
    background: var(--Static-White, #FFF);
    color: var(--dark, #181C29);
    border: none;
}
li {
    list-style: none;
}
.caption {
    font-family: Allura;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: 1.2px;
}
/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1276px;
    padding:var(--Space-12, 12px) var(--Space-0, 0);
    margin: 0 auto;
    background: #FFF;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}
.header__logo-wrapper a {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logo__text {
    margin-left: var(--space-8, 8px);
    color: var(--Dark, #181C29);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.menu {
    max-width: 376px;
    width: 100%;
}
.menu__list {
    display: flex;
    flex-direction: row;
}
.menu__list li {
    margin-right: 8px;
    color: var(--Dark, #181C29);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.menu__list li a {
    display: block;
    padding: var(--Space-12, 12px) var(--Space-20, 20px);
    border-radius: 12px;
}
.menu__list li a:hover {
    background-color: var(--primary-10);
    color: var(--primary);
}
/* Main */
/* Hero */
.hero {
    background-image: url(assets/bg-snow.png), url(assets/bg-ball.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    color: #FFF;
    height: 524px;
}
.hero__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    padding: 60px 0;
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero__caption,
.text__caption {
    color: #FFF;
}
.hero__headline {
    margin-top: 14px;
    max-width: 430px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.hero__btn {
    margin-bottom: 12px;
}
/* About */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: url(assets/bg-snow.png) no-repeat center center/cover;
    background-color: var(--primary);
}
.about__wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1276px;
    padding: var(--Space-0, 0);
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    max-height: 528px;
    height: 100%;
}
.text__wrapper {
    padding: var(--Space-0, 0) var(--Space-60, 60px);
    flex-direction: column;
}
.about__caption {
    color: var(--Primary, #FF4646);
}
.about__headline {
    margin-bottom: 34px;
}
.about__description {
    max-width: 426px;
    width: 100%;
    margin-top: 0;
}
.about__img {
    max-height: 528px;
    height: 100%;
}
.about__photo {
    border-radius: 20px;
}
/* Slider */
.slider {
    overflow: hidden;
    background: url(assets/bg-snow.png) no-repeat center center/cover;
    background-color: var(--primary);
}
.text__content {
    color: var(--Static-White, #FFF);
    text-align: center;
    margin-top: 60px;
}
.slider__caption {
    margin-bottom: 14px;
}
.slider__inner {
    transform: translateX(0px);
    display: flex;
    gap: 20px;
    transition: all 0.5s ease;
}
.slider__content {
    display: flex;
    padding: var(--Space-0, 0);
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.slide__content {
    display: flex;
    gap: 20px;
    align-items: center;
}
.slide__text {
    color: var(--Static-White, #FFF);
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.slide__img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.slider__controls {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 20px;
}
.slider__btn {
    width: 54px;
    height: 54px;
    display: block;
    padding: 16px;
    background: transparent;
    border-radius: 20px;
}
.inactive {
    border: 1px solid rgba(255, 255, 255, .2);
    stroke: #fff3;
    color: var(--static-white-40);
}
.active {
    color: var(--static-white);
    border: 1px solid var(--Static-White, #FFF);
}
.active:hover {
    background: var(--Static-White, #FFF);
    color: var(--primary);
}
/* Best gifts */

.best-gifts {
    background: url(assets/bg-snow.png) no-repeat center center/cover;
    background-color: var(--primary);
    padding-top: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.best-gifts__text {
    text-align: center;
    color: var(--Static-White, #FFF);
}
.best-gifts__caption {
    margin-bottom: var(--Space-12, 12px);
}
.best-gifts__cards {
    margin-top: var(--space-20, 20px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: var(--space-8, 8px);
}
.card__item {
    display: flex;
    width: 310px;
    height: 342px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--Content-Background, #ECF3F8);
}
.card__text {
    display: flex;
    padding: var(--Space-20, 20px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Space-8, 8px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Static-White, #FFF);
    display: flex;
    height: 342px;
}
.card__tag {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.card__item:nth-child(1) .card__tag,
.card__item:nth-child(3) .card__tag {
    color: var(--Tag-Purple, #4361FF);
}
.card__item:nth-child(2) .card__tag {
    color: var(--Tag-Green, #06A44F);
}
.card__item:nth-child(4) .card__tag {
    color: var(--Tag-Pink, #FF43F7);
}
.card__title {
    overflow: hidden;
    color: var(--Dark, #181C29);
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%; /* 24.32px */
    letter-spacing: 1.28px;
    text-transform: uppercase;
    min-height: 48px;
}
/* CTA section */

.cta {
    display: flex;
    padding: var(--Space-60, 60px) var(--Space-8, 8px);
    flex-direction: column;
    align-items: center;
    background: url(assets/bg-snow.png) no-repeat center center/cover,
                url(assets/bg-forest.png) no-repeat center center/ contain;
    background-color: var(--primary);
}
.cta__container {
    display: flex;
    max-width: 1276px;
    padding: var(--Space-60, 60px) var(--Space-0, 0);
    flex-direction: column;
    align-items: center;
}
.cta__content {
    display: flex;
    max-width: 426px;
    padding: var(--Space-60, 60px) var(--Space-0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Space-20, 20px);
}
.cta__headline {
    color: var(--Static-White, #FFF);
    text-align: center;
}
.cta__caption {
    color: var(--Static-White, #FFF);
    text-align: center;
    text-transform: capitalize
}
.cta__timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Space-8, 8px);
}
.cta__timer {
    display: flex;
    padding: var(--Space-8, 8px) var(--Space-12, 12px) var(--Space-12, 12px) var(--Space-12, 12px);
    align-items: center;
    border-radius: 20px;
    background: var(--Static-White-40, rgba(255, 255, 255, 0.40));
}
.timer__item {
    display: flex;
    width: 80px;
    flex-direction: column;
    align-items: center;
}
.timer__number {
    color: var(--Static-White, #FFF);
    text-align: center;
}
.timer__text {
    color: var(--Static-White, #FFF);
    text-align: center;font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.timer__separator {
    width: 1px;
    height: 20px; 
    background: var(--Static-White-40, rgba(255, 255, 255, 0.40));
}
/* Gifts catalog*/
.gift__catalog {
    background-image: url(assets/bg-garland.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}
.gifts__headline {
    max-width: min(437px, 100%);
    text-align: center;
}
.tabs {
    display: flex;
    gap: var(--space-8, 8px);
}
.tab {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--Static-White, #FFF);
    padding: var(--Space-12, 12px) var(--Space-20, 20px);
    border: none;
    background-color: var(--primary);
    border-radius: var(--space-12, 12px);
}
.tab.active {
    cursor: default;
}
.tab:hover, .tab.active {
    background-color: #fff3;
}
/* Footer */
.footer {
    display: flex;
    padding: var(--Space-60, 60px) var(--Space-8, 8px);
    flex-direction: column;
}
.footer__cards {
    display: flex;
    max-width: 1276px;
    flex-direction: row;
    gap: var(--Space-12, 12px);
}
.footer__cards-item {
    width: 417px;
    height: 204px;
    background: var(--Content-Background, #ECF3F8);
    cursor: pointer;
    border-radius: var(--Space-20, 20px);
}
.footer__card-link {
    display: flex;
    flex-direction: column;
    gap: var(--Space-12, 12px);
    padding: var(--Space-20, 20px);
    align-items: center;
    text-decoration: none;
}
.footer__cards-info {
    color: var(--Dark, #181C29);
    text-align: center;
}
.footer__cards-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%; /* 36.48px */
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.footer__cards-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 152%; /* 24.32px */
    letter-spacing: 1.28px;
    text-transform: uppercase;
}
.footer__cards-title {
    margin-bottom: 12px;
}
.footer__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Space-12, 12px);
    margin-top: 65px;
}
.footer__social-links {
    display: flex;
    justify-content: center;
    gap: 26px;
    cursor: pointer;
}
.footer__card-link:hover .footer__cards-title,
.footer__card-link:hover .footer__cards-text  {
    color: var(--Primary, #FF4646);
}
.footer__info {
    margin-top: var(--Space-8, 8px);
    color: var(--Dark, #181C29);
    text-align: center;
}
.footer__social-links a:hover .social-links-img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(346deg) brightness(101%) contrast(101%);
}
.footer__copyright {
    margin-bottom: var(--Space-12, 12px);
}
.footer__caption .link:hover {
    color: var(--Primary, #FF4646); 
}